/* Navbar base */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* Contenedor */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-aroundß;
  align-items: center;
}

/* Logo */
.navbar-logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-logo span {
  font-weight: 300;
  opacity: 0.85;
}

/* Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
  opacity: 0.85;
  transition: opacity 0.3s ease;
}

.navbar-links a:hover {
  opacity: 1;
}

/* Botón login */
.navbar-btn {
  padding: 0.45rem 1.2rem;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.navbar-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}
.title{
    color: rgb(74, 138, 55);
}
.titleNav{
    color: #ffffff;
    font-size: 20px;
    margin-left: 36px;
}